@using JargonProject.Handlers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>De-Jargonizer</title>
    @*Renders and minifes site css*@
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Home.css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var url = window.location.href;
            var indexOfSlash = url.indexOf("/");
            var subURLIndex = url.substr(indexOfSlash).indexOf("?");

            if (subURLIndex != -1)
            {
                var subURL = url.substr(subURLIndex + indexOfSlash + 1);
                var isFirstSection = $(".infoSection").index($("#" + subURL)) == 0;
                $(document).scrollTop($("#" + subURL).position().top - (isFirstSection ? 70 : 0));
            }
        });

    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("De-Jargonizer", "Index", "TextGrading", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Multiple Text Grading", "Index", "GroupGrading", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li class="dropDownElement">
                        <a class="dropDownBtn">About</a>
                        <div class="dropdownItems">
                            <a href="../Home/About?whatIsIt">What is it?</a>
                            <a href="../Home/About?whyDoWeNeedIt">Why do we need it?</a>
                            <a href="../Home/About?whoShouldUseIt">Who should use it?</a>
                        </div>
                    </li>
                    <li class="dropDownElement">
                        <a class="dropDownBtn">Instructions</a>
                        <div class="dropdownItems">
                            <a href="../Home/Instructions?howToUseIt">How to use it?</a>
                            <a href="../Home/Instructions?fileTypes">File types</a>
                            <a href="../Home/Instructions?judgingResults">Judging results</a>
                        </div>
                    </li>
                    <li class="dropDownElement">
                        <a class="dropDownBtn">Examples</a>
                        <div class="dropdownItems">
                            <a href="../Home/Examples?howToReadResults">How to read results?</a>
                        </div>
                    </li>
                    <li class="dropDownElement">
                        <a class="dropDownBtn">Literature</a>
                        <div class="dropdownItems">
                            <a href="../Home/Literature?wordFrequencyLevels">Word frequency levels</a>
                            <a href="../Home/Literature?literature">Literature</a>
                        </div>
                    </li>
                    <li class="dropDownElement">
                        <a class="dropDownBtn">Developers</a>
                        <div class="dropdownItems">
                            <a href="../Home/Developers?Developers">Developers</a>
                        </div>
                    </li>
                    <li class="dropDownElement">
                        <a class="dropDownBtn">How to cite</a>
                        <div class="dropdownItems">
                            <a href="../Home/HowToCite?howToCite">How to cite?</a>
                        </div>
                    </li>
                    <li class="dropDownElement">
                        <a class="dropDownBtn">Contact Us</a>
                        <div class="dropdownItems">
                            <a href="../Home/ContactUs?contact">Contact</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<div class="container body-content">
    @*all the views are rendered inside this div*@
    @RenderBody()
    <hr/>
    @*layout footer*@
    <footer>
        <p>&copy; @DateTime.Now.Year - Jargon Project</p>
        <p>visits: @Logger.ReadAmountOfUses()</p>
    </footer>
</div>
    @*renders and minifies scripts with the mvc bundles*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>